SDKROOT = iphoneos
TARGETED_DEVICE_FAMILY = 1,2
IPHONEOS_DEPLOYMENT_TARGET = 7.0
CLANG_CXX_LIBRARY = libc++
CLANG_CXX_LANGUAGE_STANDARD = c++0x

GCC_NO_COMMON_BLOCKS = YES
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = NO
ENABLE_NS_ASSERTIONS = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
CLANG_WARN_UNREACHABLE_CODE = YES
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_ANALYZER_NONNULL = YES

COMPRESS_PNG_FILES = NO
IPHONE_OPTIMIZE_OPTIONS = -skip-PNGs

//

BOOST_ROOT = $(CROSS_PATH)/tree/boost/ios
GLM_ROOT = $(CROSS_PATH)/tree/glm
JPEG_ROOT = $(CROSS_PATH)/tree/libjpeg-turbo
PNG_ROOT = $(CROSS_PATH)/tree/libpng/ios
TESS2_ROOT = $(CROSS_PATH)/tree/libtess2/ios
PROTOBUF_ROOT = $(CROSS_PATH)/tree/protobuf/ios

HEADER_SEARCH_PATHS = ../../src "$(CROSS_PATH)/core/src" "$(BOOST_ROOT)/include" "$(GLM_ROOT)/include" "$(JPEG_ROOT)/include" "$(PNG_ROOT)/include" "$(TESS2_ROOT)/include" "$(PROTOBUF_ROOT)/include"

LIBRARY_SEARCH_PATHS = "$(CROSS_PATH)/tree/chr/ios/lib/Release" "$(BOOST_ROOT)/lib" "$(JPEG_ROOT)/lib/ios" "$(PNG_ROOT)/lib" "$(TESS2_ROOT)/lib" "$(PROTOBUF_ROOT)/lib"
BASE_OTHER_LDFLAGS = -lz -lchr_cross -lboost_system -lboost_filesystem -ljpeg -lpng17 -ltess2 -lprotobuf

//

PRODUCT_NAME = TestingIO
PRODUCT_BUNDLE_IDENTIFIER = org.chronotext.TestingIO

INFOPLIST_FILE = TestingIO/Info.plist
GCC_PREFIX_HEADER =

CODE_SIGN_IDENTITY = iPhone Developer
PROVISIONING_PROFILE =
