#include "Config.xcconfig"

ONLY_ACTIVE_ARCH = YES
COPY_PHASE_STRIP = NO

DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_TESTABILITY = YES

GCC_DYNAMIC_NO_PIC = NO
GCC_OPTIMIZATION_LEVEL = 0
MTL_ENABLE_DEBUG_INFO = YES

//

OTHER_LDFLAGS[sdk=iphoneos*][arch=*] = -ObjC $(BASE_OTHER_LDFLAGS)

GCC_PREPROCESSOR_DEFINITIONS = $(BASE_GCC_PREPROCESSOR_DEFINITIONS) DEBUG=1
