#include "Config.xcconfig"

ONLY_ACTIVE_ARCH = YES
COPY_PHASE_STRIP = NO
VALIDATE_PRODUCT = NO

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

MTL_ENABLE_DEBUG_INFO = NO

//

OTHER_LDFLAGS[sdk=iphoneos*][arch=*] = -ObjC $(BASE_OTHER_LDFLAGS)

GCC_PREPROCESSOR_DEFINITIONS = $(BASE_GCC_PREPROCESSOR_DEFINITIONS)
